html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

#container{
    width: 100%;
    display: flex;
    height: 100%;
}

#left_side{
    padding-top: 110px;
    width: 23%;
    border-right: 2px solid #e9e9e9;
    height: 100%;
    position: fixed;
}

.gradient-text{
    background-color: rgb(125,0,144);
    background-image: linear-gradient(90deg, rgba(125,0,144,1) 0%, rgb(24, 45, 221) 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}


.left_button{
    margin-top: 25px;
    text-align: center;
}

.left_button a{
    color: #181818;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: -1px;
}
#search_panel input[type=text]{
    padding: 7px 7px 7px 18px;
    border-radius: 20px;
    border: 1px solid rgb(125,0,144);
    background: #ffffff;
}

#search_panel input[type=text]:focus{
    outline: none;
}

#search_panel{
    text-align: center;
    margin-bottom: 100px;

}

/* MAIN */
#main{
    margin-left: 23%;
    margin-right: 23%;
    flex-grow: 1;
    height: 9000px;
    overflow: auto;
}
#form_bottom{
    display: flex;
    justify-content: space-between;
}

#form_top input[type=text]{
    border: none;
    outline: none;
    padding: 15px 15px 6px;
    transition: 0.3s;
    margin-bottom: 10px;
    width: 97%;
}

#form_bottom input[type=submit]{
    border: none;
    margin-right: 25px;
    margin-top: 5px;
    background: rgb(125,0,144);
    background: linear-gradient(50deg, rgba(125,0,144,1) 0%, rgba(24,45,221,1) 100%);
    padding: 8px 18px;
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
    color: white;
}
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#files_upload_panel{
    margin-top: 10px;
    margin-left: 13px;
    background: rgb(125,0,144);
    background: linear-gradient(50deg, rgba(125,0,144,1) 0%, rgba(24,45,221,1) 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

#add_post{
    padding: 19px 65px 8px 65px;
    border-bottom: 2px solid #e9e9e9;
}

/* RIGHT SIDE */

#right_side{
    width: 23%;
    padding-top: 30px;
    border-left: 2px solid #e9e9e9;
    position: fixed;
    right: 0;
    height: 3000px;
}

#right_side h2{
    text-align: center;
    background: rgb(24,45,221);
    background: linear-gradient(50deg, rgba(24,45,221,1) 0%, rgba(125,0,144,1) 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}