html {
    /*overflow:   scroll;*/
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100% !important;
}
::-webkit-scrollbar {
    width: 0;
    background: transparent; /* make scrollbar transparent */
}

body{
    min-height: 100% !important;
    height: 100%;
    margin: 0;
}

#wrapper {
    width: 100%;
    background-color: #fff;
    overflow: hidden;
}

/* LEFT SIDE */

#left_side {
    padding-top: 110px;
    position: fixed;
    width: 23%;
    height:100vh;
    left: 0;
    top: 0;
    overflow-y: scroll;
    border-right: 2px solid #e9e9e9;
}

.left_button a{
    color: #181818;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: -1px;
}

.left_button{
    margin-top: 25px;
    text-align: center;
}

.gradient-text{
    background-color: rgb(125,0,144);
    background-image: linear-gradient(90deg, rgba(125,0,144,1) 0%, rgb(24, 45, 221) 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

#search_panel input[type=text]{
    padding: 7px 7px 7px 18px;
    border-radius: 20px;
    border: 1px solid rgb(125,0,144);
    background: #ffffff;
    outline: none;
}

#search_panel{
    text-align: center;
    margin-bottom: 100px;

}


/* MAIN */


#main {
    overflow-y: scroll;
    position: fixed;
    left: 23%;
    top: 0;
    bottom: 0;
    height:100vh;
    border-right: 2px solid #e9e9e9;
    width: 52%;
}

#form_bottom{
    display: flex;
    justify-content: space-between;
}

#for_who_post{
    margin-top: 10px;

    background: rgb(125,0,144);
    background: linear-gradient(50deg, rgba(125,0,144,1) 0%, rgba(24,45,221,1) 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.for_who_class{
    background: rgb(125,0,144);
}

#form_top input[type=text]{
    outline: none;
    padding: 10px 10px 10px 12px;
    margin-bottom: 14px;
    width: 100%;
    border-radius: 20px;
    border: 1px solid rgba(125,0,144, 0.15);
    background: #ffffff;
    margin-top: 4px;
}

#form_bottom input[type=submit]{
    border: none;
    margin-right: 15px;
    margin-top: 5px;
    background: rgb(125,0,144);
    background: linear-gradient(50deg, rgba(125,0,144,1) 0%, rgba(24,45,221,1) 60%);
    padding: 8px 18px;
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

#form_top{
    display: flex;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#files_upload_panel{
    margin-top: 10px;
    margin-left: 15px;
    background: rgb(125,0,144);
    background: linear-gradient(50deg, rgba(125,0,144,1) 70%, rgba(24,45,221,1) 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

#add_post{
    padding: 33px 65px 0 65px;
    border-bottom: 2px solid #e9e9e9;
}

.user_profile_photo{
    width: 40px;
    height: 40px;
    margin-top: 3px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 5px;
}

input[type=file]::-webkit-file-upload-button {
    display: none;
}

input[type=file]{
    margin-left: 4px;
    outline: none;
    /* !!!CHANGE THIS BOTTON LINE!!! */
    display: none;
}


/* POSTS PANEL */
#all_posts_panel{
    width: 100%;
    margin: auto;
}

.post_panel{
    padding: 25px 100px 28px 100px;
    border-bottom: 1px solid #e9e9e9;
}

.post_panel_top{
    justify-content: space-between;
    display: flex;
}

.post_panel_top img{
    margin-top: 6px;
}

.post_panel_top_left{
    display: flex;
    color: black;
}

.user_profile_link{
    text-decoration: none;
}

.post_panel_top_right{
    margin: 18px 5px 15px 0;
    cursor: pointer;
    background: rgb(24,45,221);
    background: linear-gradient(50deg, rgba(24,45,221,1) 0%, rgba(125,0,144,1) 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.post_photo{
    max-width: 100%;
    max-height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    border-radius: 15px;
    cursor: pointer;
}

.post_panel_main{
    word-wrap: break-word;
    width: 100%;
    align-items: center;
}

.post_panel_main p{
    margin-bottom: 0;
    margin-top: 7px;
}

.edit_post{
    margin: 18px 0 0 0;
    cursor: pointer;
    background: rgb(24,45,221);
    background: linear-gradient(50deg, rgba(24,45,221,1) 0%, rgba(125,0,144,1) 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.edit_post_list{
    position: absolute;
    margin-left: -61px;
    margin-top: 0;
    list-style-type: none;
    background: #eef2f5b8;
    padding: 5px 12px;
    border: 1px solid #b5b5b5;
    cursor: pointer;
    width: 110px;
    text-align: center;
    display: none;
}

.edit_post_list li{
    margin-top: 3px;
    margin-bottom: 3px;
}

.edit_post_text_area{
    height: 26px;
    width: 598px;
    resize: vertical;
    border:1px solid rgb(125,0,144);
    border-radius: 5px;
    padding: 5px 5px 7px;
}

.edit_post_submit{
    margin-top: 8px;
    background: rgb(24,45,221);
    background: radial-gradient(circle, rgba(24,45,221,0.919502835313813) 0%, rgba(125,0,144,0.9251050762101716) 100%);
    color: white;
    border: none;
    border-radius: 15px;
    padding: 7px 13px;
}

.post_bottom_panel{
    padding: 2px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    background: rgb(24,45,221);
    background: linear-gradient(50deg, rgba(24,45,221,1) 0%, rgba(125,0,144,1) 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.post_likes, .share_post, .post_check_all_comments{
    cursor: pointer;
}

/* POST COMMENT SECTIONS */

.comment_panel{
    padding-bottom:15px;
    background: rgba(235, 242, 255, 0.5);
    border-radius: 15px;
}

.post_add_comment_panel{
}

.post_add_comment_panel_display_flex{
    display:flex;
}

.post_add_comment_form{

}

.post_add_comment_form_text{
    width: 96%;
    margin: 17px auto 0 auto;
    outline: none;
    padding: 5px 10px;
    border: 1px solid #c4c4c4;
    border-radius: 50px;
}

.post_check_all_comments_panel{
    display: none;
}

.user_profile_photo_comment{
    width: 30px;
    height: 30px;
    margin-top: 20px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 5px;
}

.post_check_all_comments_panel_top{
    justify-content: space-between;
    margin: 10px 25px 0;
    display: flex;
}

.post_check_all_comments_panel_top_left{
    display: flex;
}

.post_check_all_comments_panel_top_right{
    margin: 18px 5px;
    cursor: pointer;
    background: rgb(24,45,221);
    background: linear-gradient(50deg, rgba(24,45,221,1) 0%, rgba(125,0,144,1) 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.post_check_all_comments_panel_top p{
    margin-top: 26px;
}

.post_check_all_comments_panel_bottom{
    margin: 0 25px 0;
}

.comment_reply{
    color: #928e93;
    margin-left: 10px;
    cursor: pointer;
    margin-bottom: 0;
    margin-top: 7px;
}

.comment_all_replies{
    padding: 0 10px;
    border-left: 1px solid rgba(146, 142, 147, 0.3);
    margin: 0 10px;
}

.comment_all_replies_top{
    display: flex;
    margin-left: 13px;
}

.comment_all_replies_bottom{
    padding: 5px 20px 18px 30px;
}


.comment_all_replies:first-of-type{
    margin-top: 10px;
}

.comment_all_replies:last-of-type{
    border-bottom: 1px solid rgba(146, 142, 147, 0.3);
    border-bottom-left-radius: 5px;
}

.user_profile_photo_comment_replies{
    width: 30px;
    height: 30px;
    margin-top: 9px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 5px;
}

/* RIGHT SIDE */

#right_side{
    border-right: 2px solid #e9e9e9;
    position: fixed;
    width: 25%;
    height:100vh;
    right: 0;
    top: 0;
    padding-top: 30px;
    overflow-y: scroll;
}


#right_side h2{
    text-align: center;
    background: rgb(24,45,221);
    background: linear-gradient(50deg, rgba(24,45,221,1) 0%, rgba(125,0,144,1) 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

/* ALERTS STYLE */
.school_alert_panel{
    padding: 15px;
    border-bottom: 1px solid #e9e9e9;
}

.school_alert_panel p {
    padding: 0 10px;
    margin-bottom: 0;
}

.school_alert_panel h3{
    margin-top: 0;
    margin-bottom: 7px;
}

.school_alert_panel_description_short_text, .school_alert_panel_description_full_text{
    padding: 0 10px;
    margin-top: 0;
    text-align: justify;
}


.read_more_button{
    cursor: pointer;
    background: rgb(24,45,221);
    background: linear-gradient(50deg, rgba(24,45,221,1) 0%, rgba(125,0,144,1) 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.school_alert_panel:last-of-type{
    padding-bottom: 45px;
}



/* ALERTS */

#copiedToClipboard{
    background: #666666;
    color: white;
    font-size: 11px;
    position: absolute;
    width: 120px;
    padding: 0 12px;
    margin: 44% 44%;
    border-radius: 30px;
    text-align: center;
    opacity: 0;
    cursor: default;
    transition: opacity .2s ease;
}

.copiedToClipboardNotify{
    text-align: center;
    margin-left: -100px !important;
    width: 200px !important;
    color: white;
    background-color: #666666;
}
