body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

#container{
    width: 100%;
    height: 100%;
}

#left_pane{
    padding-top: 110px;
    position: fixed;
    width: 15%;
    height:100vh;
    left: 0;
    top: 0;
    overflow: hidden;
    /*overflow-y: scroll;*/
    border-right: 2px solid #e9e9e9;
}

.right_conversation_container{
    display: flex;
    padding: 10px 10px 10px;
    border-bottom: 1px solid #e9e9e9;
}

#main_pane{
    width: 65%;
    overflow: auto;
    position: fixed;
    overflow-y: scroll;
    left:15%;
    height:100vh;
}

#right_pane{
    width: 20%;
    overflow: auto;
    overflow-y: scroll;
    height:100vh;
    position: fixed;
    right: 0;
}

.user_name_right_pane_class{
    font-weight: 600;
    margin-top: 7px;
}

.conversation_user_profile_photo{
    width: 48px;
    height: 48px;
    margin-top: 3px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 5px;
}