
        /* SWIPER */

.swiper-container {
    width: 60%;
    -webkit-box-shadow: 0px 5px 20px 5px rgba(0,0,0,0.34);
    box-shadow: 0px 5px 20px 5px rgba(0,0,0,0.34);
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    overflow: hidden;

    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

        /* MAIN */
main{
    padding-top: 210px;
    width: 85%;
    margin: auto;
    display: flex;
    height: 400px;
}

#textRightToSwiper{
    width: 37%;
    text-align: right;
    line-height: 28px;
    font-size: 23px;
    margin-left: 30px;
}
#textRightToSwiper h2{
    color:#007aff;
}

        /* BREAKER */
#breaker{
    background: rgb(0,69,173);
    background: linear-gradient(90deg, rgb(0, 69, 173) 0%, rgba(0,93,233,1) 100%);
    text-align: center;
    width: 100%;
    margin-top: 145px;
    height: 170px;
    color: white;
    padding-top: 25px;
    padding-bottom: 30px;
    font-size: 18px;
    -webkit-box-shadow: 0px 5px 20px 5px rgba(0,0,0,0.34);
    box-shadow: 0px 5px 20px 5px rgba(0,0,0,0.34);
}

#breaker p{
    width: 80%;
    margin: auto;
}

#breaker h2{
    font-size: 38px;
    font-weight: 600;
}


        /* UNDER BREAKER */

#underBreaker{
    width: 80%;
    margin: auto;
    justify-content: space-between;
    display: flex;
    margin-top: 120px;
    margin-bottom: 120px;
}

.statsUnderBreaker{
    width: 22%;
    text-align: center;
    align-items: center;
    transition: 0.3s;
}

.statsUnderBreaker:hover{
    -webkit-box-shadow: 0px 0px 23px 5px rgba(0,0,0,0.23);
    box-shadow: 0px 0px 23px 5px rgba(0,0,0,0.23);
    transform: scale(1.15);
}


        /* STATISTICS */

.flex-wrapper {
    display: flex;
    flex-flow: row nowrap;
}

.single-chart {
    width: 90%;
    margin: auto;
    justify-content: space-around;

}

.circular-chart {
    display: block;
    margin: 10px auto;
    max-width: 80%;
    max-height: 250px;
}

.circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 2.4;
}

.circle {
    fill: none;
    stroke-width: 1.6;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
}

@keyframes progress {
    0% {
        stroke-dasharray: 0 100;
    }
}

.circular-chart.blue .circle {
    stroke: #007aff;
}

.percentage {
    fill: #666;
    font-family: sans-serif;
    font-size: 0.5em;
    text-anchor: middle;
}

    /* SCHOOL RECOMENDED */

#schoolStats h2{
    font-size: 72px;
    background: rgb(0,122,255);
    background: -moz-linear-gradient(115deg, rgba(0,122,255,1) 14%, rgba(0,189,75,1) 100%);
    background: -webkit-linear-gradient(115deg, rgba(0,122,255,1) 14%, rgba(0,189,75,1) 100%);
    background: linear-gradient(115deg, rgba(0,122,255,1) 14%, rgba(0,189,75,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#007aff",endColorstr="#00bd4b",GradientType=1);
    font-weight: 600;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#secondStat h3{
    padding-top: 25px;
}

#thirdStat img{
    padding-top: 20px;
}

#thirdStat h3{
    padding-top: 25px;
}