footer{
    display: grid;
    padding: 0 40px;
    grid-template-columns: repeat(4, 1fr);
    height: 370px;
    background: rgb(0,122,255);
    background: -moz-linear-gradient(115deg, rgba(0,122,255,1) 14%, rgba(0,189,75,1) 100%);
    background: -webkit-linear-gradient(115deg, rgba(0,122,255,1) 14%, rgba(0,189,75,1) 100%);
    background: linear-gradient(115deg, rgba(0,122,255,1) 14%, rgba(0,189,75,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#007aff",endColorstr="#00bd4b",GradientType=1);

}

.footerColumn{
    grid-column: span 1;
    text-align: center;
    color: white;
    font-size: 18px;
    margin-top: 60px;
}
.footerColumn h5{
    font-size: 21px;
    font-weight: 500;
}
.footerColumn a{
    font-size: 15px;
    color: white;
    text-decoration: none;
    padding: 12px 0;
    line-height: 30px;
}