body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

#list_container{
    width: 1500px;
    margin:auto;
}

#search_results{
    width: 100%;
    text-align: center;
}

#search_results th, #search_results td{
    width: 300px;
}