#studentContainer{
    padding-right: 50px;
    padding-top: 75px;
    height: 80%;
}

#studentTop{
    height: 250px;
    background-color: #f5f5f5;
    display: flex;
    padding-top: 30px;
    padding-left: 30px;
}

#studentTop img{
    max-width: 200px;
    max-height: 200px;
}

#studentPersonalData{
    font-size: 30px;
    margin-left: 50px;
    margin-top: 30px;
}


.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: rgba(92, 92, 92, 0.61);
}

#imageContainer{
    position: relative;
    height: 200px;
}

#imageContainer:hover .overlay {
    opacity: 1;
}

.icon {
    color: white;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.fa-user:hover {
    color: #eee;
}

#studentBotton{
    padding: 30px;
    font-size: 22px;
    line-height: 10px;
}