html {
    /*overflow:   scroll;*/
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100% !important;
}
::-webkit-scrollbar {
    width: 0;
    background: transparent; /* make scrollbar transparent */
}

body{
    min-height: 100% !important;
    height: 100%;
    margin: 0;
}

#logo_back{
    position: absolute;
    margin: 20px;
    border: 1px solid black;
    padding: 10px 10px 10px 9px;
    border-radius: 50%;
}

#logo_back img{
    height: 30px;
    width: 30px;
}

#container{
    width: 100%;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#post_details{
    width: 85%;
    max-width: 1870px;
    margin: auto;
    display: flex;
}

#left_side{
    position: relative;
    width: 920px;
}

#left_side img{
    max-width: 910px;
    max-height: 680px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#right_side{
    max-height: 458px;
    overflow: auto;
    width: 335px;
    padding: 10px;
    margin-left: 15px;
    /*border: 2px solid;*/
    /*border-image-source: linear-gradient(50deg, rgba(24,45,221,0.4) 0%, rgba(125,0,144,0.4) 100%);*/
    /*border-image-slice: 1;*/
}

#autor_details{
    display: flex;
}

.user_profile_photo{
    width: 40px;
    height: 40px;
    margin-top: 13px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 5px;
}


/* POST COMMENT SECTIONS */

#comment_section{
    margin-top: 15px;
    max-height: 340px;
    overflow: auto;
    padding: 0px 8px 12px;
    box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.1);
}

.comment_panel{
    padding: 0 0 3px;
}

.post_add_comment_panel{
}

.post_add_comment_panel_display_flex{
    display:flex;
}

.post_add_comment_form{

}

.post_add_comment_form_text{
    width: 92%;
    margin: 17px auto 0 auto;
    outline: none;
    padding: 5px 10px;
    border: 1px solid #c4c4c4;
    border-radius: 50px;
}

.post_check_all_comments_panel{
    display: none;
}

.user_profile_photo_comment{
    width: 25px;
    height: 25px;
    margin-top: 14px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 5px;
}

.post_check_all_comments_panel_top{
    justify-content: space-between;
    margin: 0 5px 0;
    display: flex;
}

.post_check_all_comments_panel_top_left{
    display: flex;
}

.post_check_all_comments_panel_top_right{
    margin: 18px 5px;
    cursor: pointer;
    background: rgb(24,45,221);
    background: linear-gradient(50deg, rgba(24,45,221,1) 0%, rgba(125,0,144,1) 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.post_check_all_comments_panel_top p{
    margin-top: 26px;
    margin-bottom: 15px;
}

.post_check_all_comments_panel_bottom{
    margin: 5px 5px 0;
}

.comment_reply{
    font-size: 13px;
    color: #928e93;
    margin-left: 10px;
    cursor: pointer;
    margin-bottom: 0;
    margin-top: 7px;
}

.comment_all_replies{
    padding: 0 10px;
    border-left: 1px solid rgba(146, 142, 147, 0.3);
    margin: 0 10px;
}

.comment_all_replies_top{
    display: flex;
    margin-left: 13px;
}

.comment_all_replies_bottom{
    padding: 5px 20px 18px 30px;
}


.comment_all_replies:first-of-type{
    margin-top: 10px;
}

.comment_all_replies:last-of-type{
    border-bottom: 1px solid rgba(146, 142, 147, 0.3);
    border-bottom-left-radius: 5px;
}

.user_profile_photo_comment_replies{
    width: 23px;
    height: 23px;
    margin-top: 9px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 5px;
}

#add_comment{
    display: flex;
}

#add_comment input[type=text]{
    padding: 2px 2px 2px 10px;
    height: 25px;
}