body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

#container{
    width: 100%;
    height: 100%;
}

#left_pane{
    padding-top: 110px;
    position: fixed;
    width: 15%;
    height:100vh;
    left: 0;
    top: 0;
    overflow: hidden;
    /*overflow-y: scroll;*/
    border-right: 2px solid #e9e9e9;
}

.right_conversation_container{
    display: flex;
    padding: 10px 10px 10px;
    border-bottom: 1px solid #e9e9e9;
}

#main_pane{
    width: 65%;
    overflow: auto;
    position: fixed;
    left:15%;
    height:100vh;
}

#right_pane{
    width: 20%;
    overflow: auto;
    overflow-y: scroll;
    height:100vh;
    position: fixed;
    right: 0;
}

.user_name_right_pane_class{
    font-weight: 600;
    margin-top: 7px;
}

.conversation_user_profile_photo{
    width: 48px;
    height: 48px;
    margin-top: 3px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 5px;
}

/*LEFT PANE*/

.left_button a{
    color: #181818;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: -1px;
}

.left_button{
    margin-top: 25px;
    text-align: center;
}

.gradient-text{
    background-color: rgb(125,0,144);
    background-image: linear-gradient(90deg, rgba(125,0,144,1) 0%, rgb(24, 45, 221) 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

#search_panel input[type=text]{
    padding: 7px 7px 7px 18px;
    border-radius: 20px;
    border: 1px solid rgb(125,0,144);
    background: #ffffff;
    outline: none;
}

#search_panel{
    text-align: center;
    margin-bottom: 80px;
}

#old_message_container{
    overflow: auto;
    overflow-y: scroll;
    display: block;
    height: 93%;
    /*width: 96%;*/
    margin: auto;
}

.right_mess{
    clear: both;
    font-size: 13px;
    float: right;
    margin-right: 11px;
    background: #881c99;
    word-wrap: break-word;
    padding: 7px 11px;
    border-radius: 10px;
    color: white;
    margin-top: 5px;
    max-width: 600px;
}

.left_mess{
    clear: both;
    float: left;
    font-size: 13px;
    margin-left: 11px;
    background: #192ac8;
    word-wrap: break-word;
    padding: 7px 11px;
    border-radius: 10px;
    color: white;
    margin-top: 5px;
    max-width: 600px;
}

.send_message_input{
    display: block;
    width: 90% !important;
    padding: 7px;
    border: 1px solid rgb(125,0,144) !important;
    outline: none;
    border-radius: 16px;
    margin: 8px auto auto;
}